@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Outfit&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}